# https://dart.dev/guides/libraries/private-files

# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.project
.idea/
.vscode/
.settings/
.directory
*.iml

# Flutter/Dart-specific
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Android-specific
/android/app/local.properties
/android/app/GeneratedPluginRegistrant.java
/android/key.properties

# iOS-specific
/ios/Flutter/Generated.xcconfig
/ios/Flutter/flutter_export_environment.sh
/ios/Flutter/flutter_settings.gradle
/ios/Flutter/Flutter.podspec
/ios/Flutter/App.framework
/ios/Flutter/Flutter.framework
/ios/Flutter/GeneratedPluginRegistrant.h
/ios/Flutter/GeneratedPluginRegistrant.m
/ios/Flutter/GeneratedPluginRegistrant.swift
/ios/Flutter/flutter_assets/
/ios/Flutter/ephemeral/
/ios/Pods/
/ios/.symlinks/
/ios/Flutter/generated_config.xcconfig
/ios/Flutter/generated_podhelper.gradle
*.xcworkspace
xcuserdata/
Pods/
Podfile.lock

# Web-specific
.dart_tool/web/

# Windows-specific
/windows/flutter/ephemeral/
/windows/flutter/generated_config.xcconfig

# macOS-specific
/macos/Flutter/ephemeral/
/macos/Flutter/GeneratedPluginRegistrant.swift
/macos/Flutter/generated_config.xcconfig

# Linux-specific
/linux/flutter/ephemeral/
/linux/flutter/generated_config.xcconfig

# Coverage
coverage/
